<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        <bean class="com.springIOC.StudentDemoClass" name="s1">
        <property name="sid" value="78788"  />
        <property name="sname" value="shankar"></property>
        </bean>
                <bean class="com.springIOC.StudentDemoClass" name="s2">
        <property name="sid" value="123"  />
        <property name="sname" value="suhas"></property>
        </bean>
        </beans>